##A

In [ ]:
print(len(set([float(i) for i in input().split()])))

1 2 3 2 1
3

##B

In [ ]:
print(*list(set([int(i) for i in input().split()]) & set([int(i) for i in input().split()])))

1 3 2
4 3 2
2 3

In [ ]:
print(*sorted(list(set(map(int,input().split())) & set(map(int,input().split())))))

1 3 3 2
4 3 2
2 3

In [ ]:
def f():
  s1 = set([int(i) for i in input().split()])
  d = dict()

In [ ]:
print(*['1 '*10 for i in range(10)],sep='')

1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [ ]:
s1 = set([int(j) for j in input().split()])
[1 if k in s1 else 0 for k in s1]

1 3 2

[1, 1, 1]

In [ ]:
s1 = set([int(j) for j in input().split()])
s2 = set([int(j) for j in input().split()])
print(*[(str(i) + ' ') * min(sum([1 if i == k else 0 for k in s1]),\
                       sum([1 if i in s2 else 0 for k in s2])) for i in s1&s2], sep='')

1 3 2
4 3 2
2 3

In [ ]:
set([1,2,2,3]).intersection([2,2,3,4])

{2, 3}

In [ ]:
s1 = set([int(j) for j in input().split()])
s2 = [int(j) for j in input().split()]
 [i in ]

In [ ]:
x1 = [int(i) for i in input().split()]
x2 = [int(i) for i in input().split()]
s3 = set(x1) & set(x2)

def f(x):
  d = dict()
  for i in sorted(list(s3)):
    d.update({i:0})

  for i in x:
    if i in s3:
      try:
        d[i]+=1
      except:
        d.update({i:1})
  return d
for i,j in zip(f(x1).items(),f(x2).items()):
  print(min(j[1],i[1])*f'{j[0]} ',sep = '',end='')

1 3 2
4 3 2
2 3

##C

In [ ]:
N,M = [int(i) for i in input().split()]
x1=[]
x2=[]
for i in range(N):
  x1.append(int(input()))
for i in range(M):
  x2.append(int(input()))
s1,s2 = set(x1),set(x2)
s3 = s1&s2
print(len(s3))
print(*sorted(list(s3)),sep=' ')
print(len(s1-s3))
print(*sorted(list(s1-s3)))
print(len(s2-s3))
print(*sorted(list(s2-s3)))

0 0
0

0

0

##D

In [ ]:
print(len(set(input().split())))

abc  cde        abc
2

In [ ]:
'a b    c'.split()

['a', 'b', 'c']

In [ ]:
import sys
x = ''
for line in sys.stdin:
    x+=' ' + line.strip() + ' '
print(len(set(x.split())))

0

##E

In [ ]:
s1 = set([int(j) for j in input().split()])
s2 = set([int(j) for j in [*input()]])
print(len(s2 - s1))

1 2 3
1001
1

In [ ]:
[*"123"]

['1', '2', '3']

##F

In [ ]:
x1 = [*input()]
x2 = [*input()]

x1 = [x1[i] + x1[i+1] for i in range(len(x1)-1)]
x2 = [x2[i] + x2[i+1] for i in range(len(x2)-1)]

s1,s2 = set(x1),set(x2)
s3 = s1&s2

def f(x):
  d = dict()
  for i in sorted(list(s3)):
    d.update({i:0})

  for i in x:
    if i in s3:
      try:
        d[i]+=1
      except:
        d.update({i:1})
  return d
'''
out=0
for i,j in zip(f(x1).items(),f(x2).items()):
  out+=max(i[1],j[1])
print(out)
'''
print(sum(f(x1).values()))

ABBACAB
BCABB
4

##G

In [ ]:
sum([False,True,True])

2

In [ ]:
N = int(input())
x = [False] * N
for i in range(N):
  a,b = [int(j) for j in input().split()]
  if (a+b == N-1) and a>=0 and b>=0:
    x[b] = True
print(sum(x))

10
9 1
8 1
7 2
6 2
5 3
4 4
3 6
2 7
1 9
0 8
4

##H

In [ ]:
N = int(input())
s = []
for i in range(N):
  s.append(int(input().split()[0]))
print(len(set(s)))

6
1 1
2 2
3 3
2 1
3 2
3 4
3

##I

In [ ]:
N = int(input())
x = []
for i in range(N):
  M = int(input())
  s = []
  for j in M:
    s.append(input())
  x.append()

In [ ]:
N = int(input())

x_union = set()


s = []
M = int(input())
for i in range(M):
  s.append(input())
x_inter = set(s)
x_union = set(s)

for i in range(N-1):
  M = int(input())
  s = []
  for J in range(M):
    s.append(input())
  s = set(s)
  x_union = x_union | s
  x_inter = x_inter & s

print(len(x_inter))
print(*list(x_inter),sep='\n')
print(len(x_union))
print(*list(x_union),sep='\n')

3
3
Russian
English
Japanese
2
Russian
English
1
English
1
English
2
Russian
English